# Exploratory Data Analysis

## 1. Imports

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

## 2. Data Loading

In [8]:
# ===== Defining the data directories ==== #
PROJECT_ROOT = Path("..") 
DATA_DIR = PROJECT_ROOT / "data" / "raw"
data_path = DATA_DIR / "data.csv"

# ===== Define artifact and data file paths ==== #
df = pd.read_csv(data_path)
df.head()

,price,location,price_clean,price_numeric,price_original,price_outlier,price_category,location_clean,neighborhood,city_region,processed_date
0,FromKSh 6 950 000toKSh 8 950 000,"Riruta, Nairobi",From6950000to8950000,6.950000e+12,FromKSh 6 950 000toKSh 8 950 000,False,Over 50M,"Riruta, Nairobi",Riruta,Nairobi,2025-05-06
1,FromKSh 12 000 000toKSh 16 500 000,"Kilimani, Nairobi",From12000000to16500000,1.200000e+13,FromKSh 12 000 000toKSh 16 500 000,False,Over 50M,"Kilimani, Nairobi",Kilimani,Nairobi,2025-05-06
2,FromKSh 8 000 000toKSh 11 500 000,"Kileleshwa, Nairobi",From8000000to11500000,8.000000e+12,FromKSh 8 000 000toKSh 11 500 000,False,Over 50M,"Kileleshwa, Nairobi",Kileleshwa,Nairobi,2025-05-06
3,FromKSh 9 500 000toKSh 10 000 000,"Syokimau, Nairobi",From9500000to10000000,9.500000e+12,FromKSh 9 500 000toKSh 10 000 000,False,Over 50M,"Syokimau, Nairobi",Syokimau,Nairobi,2025-05-06
4,POA,"Kileleshwa, Nairobi",POA,NaN,POA,False,NaN,"Kileleshwa, Nairobi",Kileleshwa,Nairobi,2025-05-06